In [6]:
import pandas as pd

In [1]:
# loading data from csv for file IMDB_Movie_3columns.csv

In [2]:
# loading data from excel for file IMDB_Movie.xlsx

In [3]:
# loading data from json for file IMDB_Movie.json

In [4]:
# loading data from a table on html web page IMDB_Movie.html
# note that read_html return a list of data table, so to access one talbe need to have table index

In [5]:
# loading data from http://coinmarketcap.com

In [7]:
# loading from a python dictionary
# key become columns name
# value become row data
studentData = {S
    'name' : ['jack', 'Riti', 'Aadi'],
    'age' : [34, 30, 16],
    'city' : ['Sydney', 'Delhi', 'New york']
}