In [ ]:
# good explaination
# https://thispointer.com/pandas-sort-rows-or-columns-in-dataframe-based-on-values-using-dataframe-sort_values/

In [8]:
import pandas as pd
df_imdb= pd.read_csv('./data/IMDB_Movie.csv')
df_imdb.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

In [2]:
df_imdb.columns

Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes'],
      dtype='object')

# Ten hightest score movie

In [3]:
# explain
df_imdb.sort_values('imdb_score', ascending=False)[['movie_title', 'imdb_score', 'title_year']].head(10)

                                         movie_title  imdb_score  title_year
2765                   Towering InfernoÂ                      9.5         NaN
1937                       The Shawshank RedemptionÂ          9.3      1994.0
3466                                  The GodfatherÂ          9.2      1972.0
4409                           Kickboxer: VengeanceÂ          9.1      2016.0
2824                            DekalogÂ                      9.1         NaN
3207                            DekalogÂ                      9.1         NaN
66                                  The Dark KnightÂ          9.0      2008.0
2837                         The Godfather: Part IIÂ          9.0      1974.0
3481                              FargoÂ                      9.0         NaN
339   The Lord of the Rings: The Return of the KingÂ          8.9      2003.0

In [6]:
# explain inplace parameter
# inplace will make change right inside dataframe so do not need another frame to store data after sort
df_imdb[['movie_title', 'imdb_score', 'title_year']].head()
df_imdb.sort_values(by=['imdb_score'], ascending=False, inplace=True)
df_imdb[['movie_title', 'imdb_score', 'title_year']].head()

                        movie_title  imdb_score  title_year
2765  Towering InfernoÂ                      9.5         NaN
1937      The Shawshank RedemptionÂ          9.3      1994.0
3466                 The GodfatherÂ          9.2      1972.0
4409          Kickboxer: VengeanceÂ          9.1      2016.0
2824           DekalogÂ                      9.1         NaN

In [ ]:
# explain ascending parameter
# default value for ascending is True

In [7]:
# explain by parameter
# sorted with a list of column
df_imdb.sort_values(by=['imdb_score', 'title_year'], ascending=True, inplace=True)
df_imdb[['movie_title', 'imdb_score', 'title_year']]

,movie_title,imdb_score,title_year
2765,Towering Inferno,9.5,NaN
1937,The Shawshank Redemption,9.3,1994.0
3466,The Godfather,9.2,1972.0
4409,Kickboxer: Vengeance,9.1,2016.0
2824,Dekalog,9.1,NaN
3207,Dekalog,9.1,NaN
66,The Dark Knight,9.0,2008.0
2837,The Godfather: Part II,9.0,1974.0
3481,Fargo,9.0,NaN
339,The Lord of the Rings: The Return of the King,8.9,2003.0
3355,Pulp Fiction,8.9,1994.0
1874,Schindler's List,8.9,1993.0
4498,"The Good, the Bad and the Ugly",8.9,1966.0
4822,12 Angry Men,8.9,1957.0
97,Inception,8.8,2010.0
270,The Lord of the Rings: The Fellowship of the R...,8.8,2001.0
683,Fight Club,8.8,1999.0
836,Forrest Gump,8.8,1994.0
2051,Star Wars: Episode V - The Empire Strikes Back,8.8,1980.0
1842,It's Always Sunny in Philadelphia,8.8,NaN
459,Daredevil,8.8,NaN
4372,A Beginner's Guide to Snuff,8.7,2016.0
4468,Queen of the Mountains,8.7,2014.0
4924,Butterfly Girl,8.7,2014.0
340,The Lord of the Rings: The Two Towers,8.7,2002.0
4029,City of God,8.7,2002.0
654,The Matrix,8.7,1999.0
1903,Goodfellas,8.7,1990.0
3024,Star Wars: Episode IV - A New Hope,8.7,1977.0
3867,One Flew Over the Cuckoo's Nest,8.7,1975.0
...,...,...,...
2581,Steel,2.8,1997.0
2066,Jaws: The Revenge,2.8,1987.0
4472,The 41-Year-Old Virgin Who Knocked Up Sarah Ma...,2.7,2010.0
1702,Dragonball: Evolution,2.7,2009.0
1654,Meet the Spartans,2.7,2008.0
2182,Date Movie,2.7,2006.0
3923,The Real Cancun,2.7,2003.0
1072,Inchon,2.7,1981.0
4133,30 Nights of Paranormal Activity with the Devi...,2.6,2013.0
4525,The Vatican Exorcisms,2.6,2013.0
4874,Sunday School Musical,2.5,2008.0
2852,Baby Geniuses,2.5,1999.0
899,Gigli,2.4,2003.0
495,Battlefield Earth,2.4,2000.0
2192,Epic Movie,2.3,2007.0
2313,Alone in the Dark,2.3,2005.0
3525,Chairman of the Board,2.3,1998.0
4768,Subconscious,2.2,2015.0
4619,Snow White: A Deadly Summer,2.2,2012.0
319,Son of the Mask,2.2,2005.0
3664,Crossover,2.1,2006.0
2983,From Justin to Kelly,2.1,2003.0
3340,Glitter,2.1,2001.0
1729,United Passions,2.0,2014.0
3505,Who's Your Caddy?,2.0,2007.0
2268,Disaster Movie,1.9,2008.0
4605,The Helix... Loaded,1.9,2005.0
2295,Superbabies: Baby Geniuses 2,1.9,2004.0
1136,Foodfight!,1.7,2012.0
2834,Justin Bieber: Never Say Never,1.6,2011.0