In [1]:
# import library and loading IMDB data
import pandas as pd
df_imdb = pd.read_csv('./data/IMDB_Movie.csv')

In [4]:
# select movie_title and duration columns
df_imdb = df_imdb[['movie_title', 'duration']]
df_imdb.head()

                                         movie_title  duration
0                                          Avatar \t     178.0
1          Pirates of the Caribbean: At World's End      169.0
2                                           Spectre      148.0
3                             The Dark Knight Rises      164.0
4  Star Wars: Episode VII - The Force Awakens    ...       NaN

In [10]:
# number of movie in this data set
df_imdb['movie_title'].count()

5043

In [11]:
# total duration for all movie
df_imdb['duration'].sum()

539007.0

In [12]:
# min, max, mean
print(df_imdb['duration'].min())
print(df_imdb['duration'].max())
print(df_imdb['duration'].mean())

7.0
511.0
107.2010739856802