In [2]:
# saving data to multiple type of data csv, json, html, excel ...
# save data with index
# save data without index
import pandas as pd

In [7]:
# prepare dataframe for exporting
df_imdb = pd.read_csv('./data/IMDB_Movie.csv')
df_imdb_export = df_imdb[['director_name', 'movie_title', 'title_year']]
df_imdb_export.head()

,director_name,movie_title,title_year
0,James Cameron,Avatar,2009.0
1,Gore Verbinski,Pirates of the Caribbean: At World's End,2007.0
2,Sam Mendes,Spectre,2015.0
3,Christopher Nolan,The Dark Knight Rises,2012.0
4,Doug Walker,Star Wars: Episode VII - The Force Awakens ...,NaN

In [13]:
# export to csv with index, this is default
df_imdb_export.to_csv('./data/IMDB_Movie_3columns_with_index.csv')

In [14]:
# export to csv without index
df_imdb_export.to_csv('./data/IMDB_Movie_3columns_without_index.csv', index=False)

In [16]:
# export to json
df_imdb_export.to_json('./data/IMDB_Movie_3columns.json')

In [17]:
# export to excel
df_imdb_export.to_excel('./data/IMDB_Movie_3columns.xls', index=False)

In [18]:
# export to html
df_imdb_export.to_html('./data/IMDB_Movie_3columns.html', index=False)