In [ ]:
# very good tutorial
# http://rstudio-pubs-static.s3.amazonaws.com/342210_7c8d57cfdd784cf58dc077d3eb7a2ca3.html
# findout the most financial successful movice

In [68]:
import pandas as pd
df_imdb = pd.read_csv('./data/IMDB_Movie.csv')
df_imdb.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

In [63]:
df_imdb.gross.isnull().sum()
df_imdb.shape

(5043, 28)

# Removing dupplicates

In [64]:
# calculate number of dupliate rows 
df_imdb.duplicated().sum()

# show up duplicate rows
df_imdb[df_imdb.duplicated(keep=False)].head(3)

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
17,Color,Joss Whedon,703.0,173.0,0.0,19000.0,Robert Downey Jr.,26000.0,623279547.0,Action|Adventure|Sci-Fi,...,1722.0,English,USA,PG-13,220000000.0,2012.0,21000.0,8.1,1.85,123000
63,Color,David Yates,248.0,110.0,282.0,103.0,Alexander SkarsgÃ¥rd,11000.0,124051759.0,Action|Adventure|Drama|Romance,...,239.0,English,USA,PG-13,180000000.0,2016.0,10000.0,6.6,2.35,29000
98,Color,Hideaki Anno,1.0,120.0,28.0,12.0,Shin'ya Tsukamoto,544.0,NaN,Action|Adventure|Drama|Horror|Sci-Fi,...,13.0,Japanese,Japan,NaN,NaN,2016.0,106.0,8.2,2.35,0

In [65]:
# remove duplicate
# why this line could remove duplicated ?
df_imdb = df_imdb.drop_duplicates()
# recheck if still have duplicate row
# so no have any remain duplicated row
df_imdb.duplicated().sum()

0

# Remove space at end of movie title

In [66]:
df_imdb.movie_title = df_imdb.movie_title.apply(lambda x: x.rstrip())
df_imdb.movie_title.head(3)

0                                      Avatar
1    Pirates of the Caribbean: At World's End
2                                     Spectre
Name: movie_title, dtype: object

# Handling missing data

In [72]:
# count number of null for each column
# df_imdb.isnull().sum()
# remove all rows which have gross value is null
# df_imdb = df_imdb[df_imdb.gross.notnull()].head()
# len(df_imdb)
# len(df_imdb)

df_imdb.gross.isnull().sum()
len(df_imdb)
# keep if true
df_imdb = df_imdb[df_imdb.gross.isnull()==False]
len(df_imdb)

4159

In [74]:
df_imdb.budget.isnull().sum()

268

In [75]:
df_imdb = df_imdb[df_imdb.budget.isnull()==False]
len(df_imdb)

3891

# Add profit columns

In [76]:
# profit = gross - budget
df_imdb['profit'] = df_imdb.gross - df_imdb.budget
df_imdb['profit'].head(3)

0    523505847.0
1      9404152.0
2    -44925825.0
Name: profit, dtype: float64

# Add ROI colummns

In [77]:
# roi = profit / budget
df_imdb['roi'] = df_imdb['profit'] / df_imdb['budget']
df_imdb['roi'].head(3)

0    2.208885
1    0.031347
2   -0.183371
Name: roi, dtype: float64

# List top 5 movie base on profit

In [82]:
df_imdb.sort_values('profit', ascending=False)[['movie_title','profit']].head(5)

                              movie_title       profit
0                                 AvatarÂ   523505847.0
29                        Jurassic WorldÂ   502177271.0
26                               TitanicÂ   458672302.0
3024  Star Wars: Episode IV - A New HopeÂ   449935665.0
3080          E.T. the Extra-TerrestrialÂ   424449459.0

# List top movie base on return on investment

In [83]:
df_imdb.sort_values('roi', ascending=False)[['movie_title','roi']].head(5)
df_imdb.columns

Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes', 'profit', 'roi'],
      dtype='object')

# List top director with highest average score

In [93]:
df_imdb.groupby('director_name').mean().sort_values('imdb_score', ascending=False).imdb_score.head(5)

director_name
Charles Chaplin     8.6
Tony Kaye           8.6
Damien Chazelle     8.5
Ron Fricke          8.5
Alfred Hitchcock    8.5
Name: imdb_score, dtype: float64