In [6]:
# import library and read data
import pandas as pd
df_imdb=pd.read_csv('./data/IMDB_Movie_Sorting.csv')
df_imdb.head()

                                         movie_title  imdb_score  title_year
0                                          Avatar \t         7.9      2009.0
1          Pirates of the Caribbean: At World's End          7.1      2007.0
2                                           Spectre          6.8      2015.0
3                             The Dark Knight Rises          8.5      2012.0
4  Star Wars: Episode VII - The Force Awakens    ...         7.1         NaN

In [5]:
# show up columns
df_imdb.columns

Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes'],
      dtype='object')

# Ten hightest score movie

In [6]:
# explain inplace default value = False
df_imdb.sort_values('imdb_score', ascending=False)[['movie_title', 'imdb_score', 'title_year']].head(10)

                                         movie_title  imdb_score  title_year
2765                   Towering Inferno                      9.5         NaN
1937                       The Shawshank Redemption          9.3      1994.0
3466                                  The Godfather          9.2      1972.0
4409                           Kickboxer: Vengeance          9.1      2016.0
2824                            Dekalog                      9.1         NaN
3207                            Dekalog                      9.1         NaN
66                                  The Dark Knight          9.0      2008.0
2837                         The Godfather: Part II          9.0      1974.0
3481                              Fargo                      9.0         NaN
339   The Lord of the Rings: The Return of the King          8.9      2003.0

In [7]:
# explain inplace parameter
# inplace will make change right inside dataframe so do not need another frame to store data after sort
df_imdb[['movie_title', 'imdb_score', 'title_year']].head()
df_imdb.sort_values(by=['imdb_score'], ascending=False, inplace=True)
df_imdb[['movie_title', 'imdb_score', 'title_year']].head()

                        movie_title  imdb_score  title_year
2765  Towering Inferno                      9.5         NaN
1937      The Shawshank Redemption          9.3      1994.0
3466                 The Godfather          9.2      1972.0
4409          Kickboxer: Vengeance          9.1      2016.0
2824           Dekalog                      9.1         NaN

In [ ]:
# explain ascending parameter
# default value for ascending is True

In [8]:
# explain by parameter
# sorted with a list of column
df_imdb.sort_values(by=['imdb_score', 'title_year'], ascending=False, inplace=True)
df_imdb[['movie_title', 'imdb_score', 'title_year']].head(3)

                        movie_title  imdb_score  title_year
2765  Towering Inferno                      9.5         NaN
1937      The Shawshank Redemption          9.3      1994.0
3466                 The Godfather          9.2      1972.0