In [25]:
import pandas as pd
df_imdb = pd.read_csv('./data/IMDB_Movie_Apply.csv')
df_imdb.head(3)

,movie_title,gross,movie_imdb_link
0,Avatar \t,760505847.0,http://www.imdb.com/title/tt0499549/?ref_=fn_t...
1,Pirates of the Caribbean: At World's End,309404152.0,http://www.imdb.com/title/tt0449088/?ref_=fn_t...
2,Spectre,200074175.0,http://www.imdb.com/title/tt2379713/?ref_=fn_t...

In [26]:
df_imdb.columns

Index(['movie_title', 'gross', 'movie_imdb_link'], dtype='object')

In [27]:
df_imdb.gross.head(3)

0    760505847.0
1    309404152.0
2    200074175.0
Name: gross, dtype: float64

In [28]:
# change gross to million unit for easy of read
def to_million(x):
    return x/1000000
df_imdb.gross = df_imdb.gross.apply(to_million)
df_imdb.head(3)

,movie_title,gross,movie_imdb_link
0,Avatar \t,760.505847,http://www.imdb.com/title/tt0499549/?ref_=fn_t...
1,Pirates of the Caribbean: At World's End,309.404152,http://www.imdb.com/title/tt0449088/?ref_=fn_t...
2,Spectre,200.074175,http://www.imdb.com/title/tt2379713/?ref_=fn_t...

In [29]:
# shorten the link
df_imdb.movie_imdb_link.head(3)

0    http://www.imdb.com/title/tt0499549/?ref_=fn_t...
1    http://www.imdb.com/title/tt0449088/?ref_=fn_t...
2    http://www.imdb.com/title/tt2379713/?ref_=fn_t...
Name: movie_imdb_link, dtype: object

In [31]:
def remove_domain(x):
    return x.replace('http://www.imdb.com/title/','')
df_imdb.movie_imdb_link = df_imdb.movie_imdb_link.apply(remove_domain)
df_imdb.head(3)

,movie_title,gross,movie_imdb_link
0,Avatar \t,760.505847,tt0499549/?ref_=fn_tt_tt_1
1,Pirates of the Caribbean: At World's End,309.404152,tt0449088/?ref_=fn_tt_tt_1
2,Spectre,200.074175,tt2379713/?ref_=fn_tt_tt_1