In [1]:
import pandas as pd
df_csv = pd.read_csv('./data/IMDB_Movie.csv')
df_csv.columns

Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes'],
      dtype='object')

In [8]:
# modify title_year column
# remove NaN row
# convert to int number
def cleanup_title_year(title_year):
    return int(title_year)
    
df_csv['title_year'].dropna().apply(lambda x : int(x))

0       2009
1       2007
2       2015
3       2012
5       2012
6       2007
7       2010
8       2015
9       2009
10      2016
11      2006
12      2008
13      2006
14      2013
15      2013
16      2008
17      2012
18      2011
19      2012
20      2014
21      2012
22      2010
23      2013
24      2007
25      2005
26      1997
27      2016
28      2012
29      2015
30      2012
        ...
5012    2014
5013    2002
5014    2009
5015    1991
5016    2015
5017    2013
5018    2003
5019    2015
5020    2011
5021    2005
5022    2014
5023    2009
5024    2011
5025    1972
5026    2004
5027    2000
5028    2007
5029    1997
5030    2004
5031    2012
5032    1995
5033    2004
5034    2005
5035    1992
5036    2005
5037    2011
5038    2013
5040    2013
5041    2012
5042    2004
Name: title_year, Length: 4935, dtype: int64