In [9]:
# following clean up task is done
#     - rename columns
#     - drop not needed columns 'director_name'
#     - handle null (nan) data for 'duration'
#     - handle duplicated rows
#     - change columns data 'title_year' and 'movie_title'
#     - reset index to 'movie_title'

In [1]:
# import library
# load data from file ./data/mdb_movie_cleanup.csv

# Rename columns

In [2]:
# put all columns name to lower case, then replace ' ' with '_'

# Drop columns

In [3]:
# drop column 'director_name'
# explain 'inplace' parameter

# Handle missing data

In [16]:
# detect and count missing data use isnull()

In [17]:
# counting number of null data use sum()

In [6]:
# recheck the rows which missing data

In [7]:
# method 1 : to remove entire missing data
# use notnull()
# or use isnull()
# recheck after remove all missing data row

In [8]:
# method 2 : to fill missing data
# calculate the mean
# fill null value with mean, inplace mean the change affect right with df_imdb
# check no have any null value remain after fill

# Handle duplicate data

In [9]:
# detect duplicate data with duplicated()

In [10]:
# count duplicate data with sum()
# explain sum() function and how it work

In [11]:
# reconfirm duplicate by show it on dataset

In [18]:
# remove duplicated use drop_duplicates()

# Change column data

In [13]:
# remove .0 from data inside column 'title_year'
# note that if still have NAN value, apply will not work

In [ ]:
# remove ' ' at end of movie_title

# Set index column

In [14]:
# now 'movie_title' is unique, so I want to set it as index

In [15]:
# try to access data with movie_title index