In [1]:
# good tutorial on pandas
# https://www.kaggle.com/ash316/learn-pandas-with-pokemons

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
plt.style.use('fivethirtyeight')

/Users/tanpv/anaconda3/lib/python3.7/importlib/_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 216, got 192
  return f(*args, **kwds)
/Users/tanpv/anaconda3/lib/python3.7/importlib/_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 216, got 192
  return f(*args, **kwds)
/Users/tanpv/anaconda3/lib/python3.7/importlib/_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 216, got 192
  return f(*args, **kwds)

In [11]:
# read dataframe
df = pd.read_csv('./data/Pokemon.csv')
df.head(3)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False

In [12]:
# change columns name to upper case
df.columns = df.columns.str.upper()
df.columns

Index(['#', 'NAME', 'TYPE 1', 'TYPE 2', 'TOTAL', 'HP', 'ATTACK', 'DEFENSE',
       'SP. ATK', 'SP. DEF', 'SPEED', 'GENERATION', 'LEGENDARY'],
      dtype='object')

In [13]:
# show only legendary
df[df['LEGENDARY']==True].head(3)
df.columns

Index(['#', 'NAME', 'TYPE 1', 'TYPE 2', 'TOTAL', 'HP', 'ATTACK', 'DEFENSE',
       'SP. ATK', 'SP. DEF', 'SPEED', 'GENERATION', 'LEGENDARY'],
      dtype='object')

In [17]:
# change index use 'NAME' column
df = df.set_index('NAME')

KeyError: 'NAME'

In [21]:
# drop the column '#'
df = df.drop(['#'], axis=1)

KeyError: "['#'] not found in axis"

In [22]:
df.head(3)

,TYPE 1,TYPE 2,TOTAL,HP,ATTACK,DEFENSE,SP. ATK,SP. DEF,SPEED,GENERATION,LEGENDARY
NAME,,,,,,,,,,,
Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False

In [23]:
df.columns

Index(['TYPE 1', 'TYPE 2', 'TOTAL', 'HP', 'ATTACK', 'DEFENSE', 'SP. ATK',
       'SP. DEF', 'SPEED', 'GENERATION', 'LEGENDARY'],
      dtype='object')

In [24]:
df.shape

(800, 11)

In [31]:
# check if any nan inside dataframe
# df.isnull().values.any().sum()
# boolean is number (true=1 and false=0) so it could be sum correctly
# .sum() to show how many of nan happen
df['TYPE 2'].isnull()

NAME
Bulbasaur                    False
Ivysaur                      False
Venusaur                     False
VenusaurMega Venusaur        False
Charmander                    True
Charmeleon                    True
Charizard                    False
CharizardMega Charizard X    False
CharizardMega Charizard Y    False
Squirtle                      True
Wartortle                     True
Blastoise                     True
BlastoiseMega Blastoise       True
Caterpie                      True
Metapod                       True
Butterfree                   False
Weedle                       False
Kakuna                       False
Beedrill                     False
BeedrillMega Beedrill        False
Pidgey                       False
Pidgeotto                    False
Pidgeot                      False
PidgeotMega Pidgeot          False
Rattata                       True
Raticate                      True
Spearow                      False
Fearow                       False
Ekans                         True
Arbok                         True
                             ...
Sylveon                       True
Hawlucha                     False
Dedenne                      False
Carbink                      False
Goomy                         True
Sliggoo                       True
Goodra                        True
Klefki                       False
Phantump                     False
Trevenant                    False
PumpkabooAverage Size        False
PumpkabooSmall Size          False
PumpkabooLarge Size          False
PumpkabooSuper Size          False
GourgeistAverage Size        False
GourgeistSmall Size          False
GourgeistLarge Size          False
GourgeistSuper Size          False
Bergmite                      True
Avalugg                       True
Noibat                       False
Noivern                      False
Xerneas                       True
Yveltal                      False
Zygarde50% Forme             False
Diancie                      False
DiancieMega Diancie          False
HoopaHoopa Confined          False
HoopaHoopa Unbound           False
Volcanion                    False
Name: TYPE 2, Length: 800, dtype: bool

In [32]:
# fillna for type2
df['TYPE 2'].fillna(df['TYPE 1'], inplace=True)

In [34]:
# after fillna, no have any na remain
df['TYPE 2'].isnull().sum()

0

In [35]:
# select one row

In [36]:
# filter using logical operator

In [37]:
# sort value base on total

In [41]:
# show all unique type
print(df['TYPE 1'].unique())
# show number of unique value
df['TYPE 1'].nunique()

['Grass' 'Fire' 'Water' 'Bug' 'Normal' 'Poison' 'Electric' 'Ground'
 'Fairy' 'Fighting' 'Psychic' 'Rock' 'Ghost' 'Ice' 'Dragon' 'Dark' 'Steel'
 'Flying']

18

In [ ]:
# visualization